# Servidor
PORT=3000
JWT_SECRET=atc-distribuidora-secret-key-2026

# Supabase
SUPABASE_URL=https://cjqziapqtyjsxqxumgbx.supabase.co
SUPABASE_KEY=tu_supabase_anon_key

# SQL Server
MSSQL_HOST=127.0.0.1
MSSQL_PORT=1433
MSSQL_USER=tu_usuario_sql
MSSQL_PASSWORD=tu_password_sql
MSSQL_DATABASE=tu_base_datos_sql
